@import './variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    &__search {
        border: 1px solid $gray;
        border-radius: 12px;
        filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
        min-width: 300px;
        padding: 18px 56px;
        font-size: 2rem;
        color: $gray;
        margin-left: 40px;

        @media (max-width: $breakpointMd) {
            padding: 10px;
            min-width: unset;
        }
    }

    &__add-btn {
        background-color: $green;
        padding: 16px 20px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-size: 1.6rem;
        border: 0;
        color: #fff;
    }
}

.gallery {
    margin-top: 75px;
}

.image-list {
    transition: all 0.5s ease-in-out;
    column-gap: 10px;
    column-fill: initial;

    @media only screen and (min-width: $breakpointSm) and (max-width: $breakpointMd) {
        column-count: 2;
    }

    @media only screen and (min-width: $breakpointMd) {
        column-count: 4;
    }
}

.single-image {
    margin-bottom: 10px;
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
    // img {
    //     transition: all 0.5s ease-in-out;
    //     backface-visibility: hidden; /* Remove Image flickering on hover */
    // }
}
