@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import './variables.scss';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 16px;
    padding: 30px 100px;
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: $breakpointMd) {
        padding: 10px;
    }
}

.flexbox {
    display: flex;
}

.fcolor-gray {
    color: $gray;
}

@import './common.scss';
@import './popup.scss';
@import './spinner.scss';
