.popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    &__container {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 700px;
        position: relative;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 2rem;
        background: transparent;
        border: none;
    }
}

.uploadPhotoPopup {
    display: flex;
    flex-direction: column;
    &__header {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    &__inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: red;
        display: inline-block;
        text-align: center;
        max-width: 400px;
        padding: 15px;
        margin-top: 20px;
    }

    &__inputfile:focus + label,
    &__inputfile + label:hover {
        cursor: pointer;
    }

    &__upload {
        display: flex;
        justify-content: center;
    }
}
